@import url("font.roboto.css");

html {
	background: transparent;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.25);
}

body {
	background: url(./img/body-bg.jpg) center center no-repeat fixed;
	background-size: cover;
	
	font-family: "Roboto";
	font-weight: 300;
}

body.maximized wrap {
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	box-shadow: none;
	border-radius: 0;
	border-width: 0;
}

html {
	-webkit-transform: scale(0.9);
	opacity: 0.5;
	transition: all 0.75s;
}

html.loaded {
	-webkit-transform: scale(1.0);
	opacity: 1;
}

wrap.blurred {
	-webkit-filter: blur(2px) grayscale(30%)
}
wrap.blurred:after {
	content: "";
	display: block;
	position: absolute;
	z-index: 100;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

header {
	z-index: 99;
}

#header-menu {
}
	#header-menu > ul > li {
		padding: 0 8px;
		font-size: 13px;
		text-shadow: 0 1px 1px rgba(0,0,0,0.3);
		color: white;
	}
	#header-menu > ul > li.visibleSubmenu {
		color: black;
		text-shadow: none;
		border-radius: 3px 3px 0 0;
		background: white;
	}
	#header-menu > ul > li > .label-wrap {
		opacity: 0.9;
	}
	#header-menu > ul > li:hover > .label-wrap {
		opacity: 1;
	}
	#header-menu ul li ul {
		box-shadow: 0 3px 3px rgba(0,0,0,0.1);
		z-index: 3;
	}
	#header-menu ul li ul li {
	}
	#header-menu ul li ul li .separator {
		background: #ddd;
	}
	#header-menu ul li ul li .label-wrap {
		padding: 1px 10px;
		color: black;
		background: white;	
	}
	#header-menu ul li ul li:hover > .label-wrap {
		background: #333;
		color: white;
	}
	#header-menu ul li ul li:hover .label-wrap .arrow {
		border-left-color: white;
	}
	#header-menu ul li ul li:first-child > .label-wrap {
		border-radius: 0 3px 0 0;
	}
	#header-menu ul li ul li:last-child > .label-wrap {
		border-radius: 0 0 3px 3px;
	}
	#header-menu ul li ul li.has-submenu:first-child:hover > .label-wrap {
		border-top-right-radius: 0;
	}
	#header-menu ul li ul li.has-submenu:last-child:hover > .label-wrap {
		border-bottom-right-radius: 0;
	}
	/* sub-submenu */
	#header-menu ul li ul li ul li:first-child:last-child > .label-wrap {
		border-radius: 0 3px 3px 0;
	}

header,
sidebar,
widgets {
	box-sizing: border-box;
	background: rgba(0,0,0,.1);
}

header {
	position: relative;
}

#sidebar-helper {
	display: none;
}

#filetree {
	height: 100%;
}

#filetree li .label {
	box-sizing: border-box;
	border: 1px solid transparent;
	border-right: none;
	transition: none;
}
#filetree li[data-filename^="."] {
	opacity: 0.5;
}
#filetree li .label:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	height: 25px;
	background-color: white;
	display: none;
}
#filetree li .label:hover:before {
	display: block;
	opacity: 0.05;	
}
#filetree li .label.selected:before {
	display: block;
	opacity: 0.15;
}

#filetree li .label .name,
#filetree li .label .name-renaming {
	color: white;
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
#filetree li .label .name-renaming {
	border: 1px solid rgba(0,0,0,0.1);
	background: rgba(0,0,0,0.1);
}

#filetree li .label .icon {
	background: white;	
}

#filetree li .label .expand {
	border-left-color: white;
}

tabs {
	left: 1px;
	top: 1px;
	right: 1px;
}

tabs tab {
	color: #666;
	background: white;
	height: 25px;
	border-bottom: 1px solid #ddd !important;
	transition: none;
	border-right: 1px solid #ddd;
}
tabs tab:hover {
	background: #f6f6f6;	
}
tabs tab:first-child {
	border-top-left-radius: 3px;
}
tabs tab:last-child {
	border-right: none;
	border-top-right-radius: 3px;
}
tabs tab:active {
	background: #f0f0f0;	
}
tabs tab.active {
	color: #333;
	background: white;
	border-bottom: none !important;
}
tabs tab .close {
	border: 1px solid #ccc;
	width: 13px;
	height: 13px;
	margin: 6px;
}
tabs tab .close:before {
	color: #ccc;
}
tabs tab .close:hover {
	background: #a33;
	border-color: #a33;
}
tabs tab .close:hover:before,
tabs tab .close:active:before {
	color: white;
}
tabs tab .close:active {
	background: #862a2a;
	border-color: #862a2a;	
}
tabs tab.changed .close:before {
	font-size: 12px;
}

noeditorview {
	color: white;
}
	noeditorview h1,
	noeditorview p {
		font-weight: 300;		
	}
	noeditorview p a {
		color: #6dcddf;
	}

/* borders */
editor:before,
editor:after {
	content: "";
	position: absolute;
	background: rgba(0,0,0,0.2);
}
editor:before {
	top: 0;
	left: 1px;
	right: 0;
	height: 1px;
}
editor.widgets:before {
	right: 300px;
}
editor:after {
	left: 0;
	top: 0;
	bottom: 0;
	width: 1px;
}

tabs {
	top: 10px;
	left: 10px;
	right: 10px;
}

editorviews {
	left: 10px;
	top: 10px;
	bottom: 10px;
	right: 10px;
}

editor.widgets editorviews {
	margin-right: 10px;
}

widgets {
	top: 0px;
	margin-top: 0;
	border-left: 1px solid rgba(0,0,0,0.2);
	padding: 0 10px;
}
	widgets widgetwrap {
		background: white;
		box-shadow: 0 0 5px rgba(0,0,0,0.25);
		border-radius: 3px;
		overflow: hidden;
	}
		widgets widgetwrap .title,
		widgets widgetwrap .title:active {
			background: #eee;
		}
		widgets widgetwrap .title:hover {
			background: #f6f6f6;
		}
			widgets widgetwrap .title .name {
				margin-left: 6px;
			}
			widgets widgetwrap.collapsed .title .name {
				color: #888;
			}
			widgets widgetwrap .title:before {
				content: "";
				position: absolute;
				left: 9px;
				top: 9px;
				border-top: 4px solid #333;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				
				transition: all 0.3s;
				transform: rotate(0deg);
			}
			widgets widgetwrap.collapsed .title:before {
				transform: rotate(-90deg);
			}
		widgets widgetwrap widget {
			max-height: 800px;
			transition: max-height 0.2s, padding 0.2s;
		}
		widgets widgetwrap.collapsed widget {
			max-height: 0;
			padding-top: 0;
			padding-bottom: 0;
			overflow: hidden;
		}


/* codemirror */
.cm-keyword {color: #708;}
.cm-atom {color: #219;}
.cm-number {color: #164;}
.cm-def {color: #00f;}
.cm-variable,
.cm-punctuation,
.cm-property,
.cm-operator {}
.cm-variable-2 {color: #05a;}
.cm-variable-3 {color: #085;}
.cm-comment {color: #a50;}
.cm-string {color: #a11;}
.cm-string-2 {color: #f50;}
.cm-meta {color: #555;}
.cm-qualifier {color: #555;}
.cm-builtin {color: #30a;}
.cm-bracket {color: #997;}
.cm-tag {color: #170;}
.cm-attribute {color: #00c;}
.cm-header {color: blue;}
.cm-quote {color: #090;}
.cm-hr {color: #999;}
.cm-link {color: #00c;}

/* popup */
.ngdialog .ngdialog-close:before {
	font-size: 12px;
	height: 20px;
	line-height: 19px;
	right: -10px;
	top: -10px;
	width: 20px;
	background: black;
	border-radius: 15px;
	border: 1px solid white;
	color: white;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

button,
.button {
	padding: 0.5em 0.75em;
	font-size: 12px;
	font-family: inherit;
	font-weight: inherit;
	border: 1px solid #ccc;
	background: #eee;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
button:hover,
.button:hover {
	background: #f3f3f3;
}
button:active,
.button:active {
	background: #eaeaea;
}
button[disabled],
.button[disabled]
.button.disabled {
	opacity: 0.5;
	background: #eee;
}